<h1> Add new item </h1>



<form action="/insert_item" method="post">
<label for="zebra"> Link URL </label>

    <input type="text" name="link_URL" id="zebra" placeholder="Enter a URL...">



<div>
<form action="/insert_item">
<label for="giraffe"> Link Description </label>
 
    <input type="text" name="link_description" id="giraffe" placeholder="Enter a link description.">
  </div>

 <div>
 <form action="/insert_item">
<label for="tiger"> Thumbnail URL </label>
    <input type="text" name="thumbnail_URL" id="tiger" placeholder="Enter a thumbnail URL.">
  </div>

<button> Create item </button>
